@model IEnumerable<WebApplication1.Models.Order>

@{
    ViewData["Title"] = "Index";
    string username = @ViewBag.Session;
}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<!-- Thư viện jQuery -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<style>
    tr:hover {
        background-color: #f5f5f5;
    }
</style>
<div class="container">
    @Html.Partial("~/Views/Header/Header.cshtml")
    <h1>Danh sách đơn hàng</h1>
    <p>
        <a asp-action="Create" class="btn btn-success btn-xs">Tạo đơn hàng</a>
    </p>
    <div>
    @if (username != null)
    {
        <h3 style="color:red">Xin chào @username</h3>
        <a href="/Login/Logout">Đăng xuất</a>
    }
    </div>
    <table class="table" style="width:100%">
        <thead class="table-light">
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Mã Đơn hàng
                </th>
                <th>
                    Loại đơn hàng
                </th>
                <th>
                    Ngày tạo đơn
                </th>
                <th>
                    Người tạo đơn
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        
        <tbody>
                @{
                    int index = 1; // Khai báo biến index ban đầu bằng 1
                    foreach (var item in Model)
                    {
                    <tr>
                        <td>
                                @index
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Id)
                        </td>

                        <td>@(item.OrderType.Trim() == "import" ? "nhập kho" : "xuất kho")</td>

                        <td>
                                @item.OrderDate?.ToString("dd/MM/yyyy").Trim()
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>

                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-xs">Xem chi tiết</a>

                        </td>
                        <td>

                            <a asp-action="Edit" class="btn btn-info btn-xs" asp-route-id="@item.Id" asp-route-type="@item.OrderType.Trim()">Chỉnh sửa <span class="glyphicon glyphicon-edit"></span></a>

                        </td>
                    </tr>
                        index++; // Tăng biến index sau khi vẽ một dòng mới
                    }
                }
        </tbody>

       
    </table>

<div>
    
    <div>
            <ul class="pagination">
                @if (ViewBag.CurrentPage > 1)
                {
                <li class="paginate_button page-item previous" id="example2_previous">
                        <a href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1, pageSize = ViewBag.PageSize })" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Trước</a>
                </li>
                }
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    if (i == ViewBag.CurrentPage)
                    {      
                        <li class="paginate_button page-item active">
                            <a href="@Url.Action("Index", new { page = i, pageSize = ViewBag.PageSize }) aria-controls="example2" data-dt-idx="@i" tabindex="0" class="page-link">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button page-item ">
                            <a href="@Url.Action("Index", new { page = i, pageSize = ViewBag.PageSize }) aria-controls="example2" data-dt-idx="@i" tabindex="0" class="page-link">@i</a>
                        </li>
                    }
                   
                }              

                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                {
                    <li class="paginate_button page-item next" id="example2_next">
                        <a href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1, pageSize = ViewBag.PageSize }) aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Tiếp</a>
                    </li>                  
                }
            </ul>
    </div>
</div>
    @Html.Partial("~/Views/Footer/Footer.cshtml")
</div>
