@model IEnumerable<WarehouseManagement.Models.Flower>

@{
    ViewData["Title"] = "Index";
    string wrongMsg = @ViewBag.MessageWrong;
}

<h1>Flower Management</h1>
<h1>@if (wrongMsg != null)
    {
        @wrongMsg;
    }
</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
               
                    <a asp-action="AddOrSub" asp-route-id="@item.Id" asp-route-type="add">Add</a> |
                    <a asp-action="AddOrSub" asp-route-id="@item.Id" asp-route-type="sub">Sub</a>
            </td>
        </tr>
}
    </tbody>
</table>
